@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <button type="button" class="btn btn-default btn-lg" onclick="location.href='http://localhost:18080/RefugeeCampSolution-web/layout.jsf'">More Features <i class="icon_like_alt" aria-hidden="true"></i></button>
}
else
{
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Register", "Volunteer")'">Become Volunter </button>
}