<!-- bread-crumb start here -->
<div class="bread-crumb">
    <img src="@Url.Content("~/Assets/images/banner-top.jpg")" class="img-responsive" alt="banner-top" title="banner-top">
    <div class="container">
        <div class="matter">
            <h2>About us</h2>
            <ul class="list-inline">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<!-- bread-crumb end here -->

<!-- who start here -->
<div class="who">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 commontop text-center">
                <h6>who we are</h6>
                <hr>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img src="@Url.Content("~/Assets/images/about/01.jpg")" class="img-responsive" alt="image" title="image" />
            </div>
            <div class="col-sm-6 col-xs-12">
                <h4>WELCOME TO <span>CHARITY PLUS</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lorem augue, at dapibus quam finibus eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lorem augue, at dapibus quam finibus eget.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lorem augue, at dapibus quam finibus eget. Nam iaculis lorem augue, at dapibus quam finibus eget.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lorem augue, at dapibus quam finibus eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lorem augue, at dapibus quam finibus eget.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lorem augue, at dapibus quam finibus eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lorem augue, at dapibus quam finibus eget.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lorem augue, at dapibus quam finibus eget.</p>
            </div>
        </div>
    </div>
</div>
<!-- who end here -->
<!-- mission start here -->
<div class="mission">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 commontop text-center">
                <h6>our mission</h6>
                <hr>
            </div>
            <div class="col-sm-5 col-xs-12">
                <img src="@Url.Content("~/Assets/images/about/02.png")" class="img-responsive" alt="image" title="image" />
            </div>
            <div class="col-sm-7 col-xs-12">
                <ul class="list-inline">
                    <li>
                        <div class="icon">
                            <div class="save"></div>
                        </div>
                        <h4>save water</h4>
                        <p>Vestibulum in erat nec ante interdum viverra a acsed hendrerit, metus </p>
                    </li>

                    <li>
                        <div class="icon">
                            <div class="tree"></div>
                        </div>
                        <h4>save tree</h4>
                        <p>Vestibulum in erat nec ante interdum viverra a acsed hendrerit, metus </p>
                    </li>
                    <li>
                        <div class="icon">
                            <div class="child"></div>
                        </div>
                        <h4>child education</h4>
                        <p>Vestibulum in erat nec ante interdum viverra a acsed hendrerit, metus </p>
                    </li>
                    <li>
                        <div class="icon">
                            <div class="earth"></div>
                        </div>
                        <h4>save earth</h4>
                        <p>Vestibulum in erat nec ante interdum viverra a acsed hendrerit, metus </p>
                    </li>

                    <li>
                        <div class="icon">
                            <div class="help"></div>
                        </div>
                        <h4>helping poor</h4>
                        <p>Vestibulum in erat nec ante interdum viverra a acsed hendrerit, metus </p>
                    </li>

                    <li>
                        <div class="icon">
                            <div class="people"></div>
                        </div>
                        <h4>help old people</h4>
                        <p>Vestibulum in erat nec ante interdum viverra a acsed hendrerit, metus </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- mission end here -->
