
@{
    ViewBag.Title = "Index";
}

<div class="become">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <a class="btn btn-danger" href="@Url.Action("Create", "Claim")"><i class="fa fa-edit fa-lg"></i>Claim</a>
            </div>
        </div>
    </div>
</div>